/* toma.css - cascading style sheet for custom semantic html elements */



/* overlay - an overlay to be put over a page or page background */
overlay {
	background-size: cover;
	display: block;
	height: 100%;
	left: 0%;
	position: fixed;
	right: 0%;
	top: 0%;
	width: 100%;
	z-index: -1;
}


/* phrase - a span-like element used to display a slogen or phrase */
phrase {
	display: block;
	position: relative;
}
